In [ ]:
import tensorflow as tf

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Embedding, GlobalAveragePooling1D

In [ ]:
import pandas as pd

In [ ]:
#Import du fichier train et test

import pandas as pd

url_train = 'https://drive.google.com/file/d/1XQiT0_Q50Wt2yreXhu-TXQzDaaucF4c3/view?usp=sharing'
path_train = 'https://drive.google.com/uc?export=download&id='+url_train.split('/')[-2]
train = pd.read_csv(path_train)

url_test = 'https://drive.google.com/file/d/1Iq5zOkFLHaMYXTraW8IfbZG6ensnuMyX/view?usp=sharing'
path_test = 'https://drive.google.com/uc?export=download&id='+url_test.split('/')[-2]
test = pd.read_csv(path_test)

train.head(), test.head()

(   id keyword  ...                                               text target
 0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
 1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
 2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
 3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
 4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

 [5 rows x 5 columns],
    id keyword location                                               text
 0   0     NaN      NaN                 Just happened a terrible car crash
 1   2     NaN      NaN  Heard about #earthquake is different cities, s...
 2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
 3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
 4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan)

In [ ]:
#EDA Rapide
train.describe(include="all")

                  id  ...      target
count    7613.000000  ...  7613.00000
unique           NaN  ...         NaN
top              NaN  ...         NaN
freq             NaN  ...         NaN
mean     5441.934848  ...     0.42966
std      3137.116090  ...     0.49506
min         1.000000  ...     0.00000
25%      2734.000000  ...     0.00000
50%      5408.000000  ...     0.00000
75%      8146.000000  ...     1.00000
max     10873.000000  ...     1.00000

[11 rows x 5 columns]

In [ ]:
#Enregistrement des Dataframe sur le disque
train.to_csv("/content/train/train.csv")
test.to_csv("/content/test/test.csv")

In [ ]:
#Selection des colonnes utiles
train = train[["text","target"]]

In [ ]:
#Installation de spacy afin de lemmatizer et retirer les stopwords
!python -m spacy download en_core_web_sm -q
import spacy
from spacy.lang.fr.stop_words import STOP_WORDS
nlp = spacy.load("en_core_web_sm")

     |████████████████████████████████| 12.0 MB 8.8 MB/s
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [ ]:
#Fonction cleaning pour retirer les stop word et lemmatizer
import re
def cleaning(text):
  text = re.sub("@[a-z]+", "", text)
  text = re.sub(" +", " ", text).lower().strip()
  text = "".join([ch for ch in text if ch.isalnum() or ch == " "])
  text = " ".join([token.lemma_ for token in nlp(text) if token.text not in STOP_WORDS and token.lemma_ not in STOP_WORDS])

  return text

In [ ]:
#Application de la fonction sur les 2 colonnes
train["text"] = train["text"].apply(lambda x : cleaning(x))
test["text"] = test["text"].apply(lambda x : cleaning(x))

In [ ]:
#Tokenization du dataset et ajout des token
import numpy as np
tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=1000) # instanciate the tokenizer
tokenizer.fit_on_texts(train.text)
train["label"] = tokenizer.texts_to_sequences(train.text)


train["len_tweet"] = train["label"].apply(lambda x: len(x))
train = train[train["len_tweet"]!=0]

In [ ]:
train.head(100)

                                                  text  ...  len_tweet
0    -PRON- deed be the reason of this earthquake m...  ...         10
1                   forest fire near ronge sask canada  ...          3
2    all resident ask to shelter in place be be not...  ...         18
3    13000 people receive wildfire evacuation order...  ...          6
4    just get this photo from ruby alaska smoke fro...  ...         10
..                                                 ...  ...        ...
97   break there be deadly motorcycle accident that...  ...         13
98   be -PRON- marinade -PRON- or be -PRON- an acci...  ...          8
99   only have for not even week and get in fucking...  ...         15
100  norwaymfa bahrain police have previously die i...  ...         12
101  still have not hear church leader of kenya com...  ...         11

[100 rows x 4 columns]

In [ ]:
#Ajout du padding pour que les sequences soient de même longueurs

tweet_pad = tf.keras.preprocessing.sequence.pad_sequences(train.label, padding="post")
tweet_pad

array([[  1,   3,   2, ...,   0,   0,   0],
       [188,  20, 237, ...,   0,   0,   0],
       [ 30, 561,   5, ...,   0,   0,   0],
       ...,
       [556,  31,   6, ...,   0,   0,   0],
       [ 69, 867,  32, ...,   0,   0,   0],
       [  2, 174,  40, ...,   0,   0,   0]], dtype=int32)

In [ ]:
# creation du tensor slice dataset
train_ds = tf.data.Dataset.from_tensor_slices((tweet_pad, train.target.values))

In [ ]:
# Creation du Train Test Split
TAKE_SIZE = int(0.7*train.shape[0])

train_data = train_ds.take(TAKE_SIZE).shuffle(TAKE_SIZE)
train_data = train_data.batch(32)

test_data = train_ds.skip(TAKE_SIZE)
test_data = test_data.batch(32)

In [ ]:
embedding_dim=32

In [ ]:
 # Regardons un batch 
for tweet, true in train_data.take(1):
  print(tweet, true)

tf.Tensor(
[[  2  44  50 617   7 447  41 262 858 105  63   3  10   2 749 183  50   3
    2 749   0   0   0   0   0   0   0   0]
 [791 226 771 229 372 172 536   6  15   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [142  21 103   1  31   7   1  31  34   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [243 325 429 396  84   4   1 198  43 325   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 78   2 840   6 383   7  17   1 558   9 334   5  12  13   1   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [508   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [250 321 119   3 577  70   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [184 686   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [435 503   2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [756 280 281  13 700   6 773 150  34 756 280   9   3 281  13 700  49   2
  201   0   0   0   0   0   0   0   0   0]
 [  6 387   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [691 816 619 344 514  51   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 96 336  29  20  35   1  79  53   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [449   3   2  53  80   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [518   1  42   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 96 906   3 862  43 308  34  39  16  10  33 546  26  10   3 722   8 355
    0   0   0   0   0   0   0   0   0   0]
 [613 655 394   1 957   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 35   1  12  10  75 290 130  34 352   3  60  18   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 19 111  55  18 285 769   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  4 586 237 764 657  90   4  62  33   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 96  12   5 110   1  65 132  19   1   3 520  15 176   6   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 83   1  27  28  10 382 324 153   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [256 275  69 237 388  62 347  11 464   8  41 363   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [797 670 518   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 29 732 744   7   3 496   7 116  22  21 504   5   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  1 294  46   3  34 796 405 284 263 264   1 145   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [326 343   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 16   3  32  34 799  18 223   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 78   1   3 393   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  3   4 122   1  31  22   2   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 19 581 760   2 202  44   7   1 353  19   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [ 23   1 883  28 207  16   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]], shape=(32, 28), dtype=int32) tf.Tensor([1 0 0 0 0 1 1 1 1 1 0 1 0 1 0 0 0 1 0 1 0 0 1 0 0 1 1 1 1 0 1 0], shape=(32,), dtype=int64)

In [ ]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import SimpleRNN
from tensorflow.keras.layers import GRU
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Conv1D
from tensorflow.keras.layers import Conv2D




vocab_size = tokenizer.num_words
model = tf.keras.Sequential([
                  # Couche d'Input Word Embedding           
                  Embedding(vocab_size+1, 5, input_shape=[tweet.shape[1],],name="embedding"),

                  #Couche GRU
                  GRU(units=32, return_sequences=False, return_state=False),

                  # Couche Dense classique
                  Dense(24, activation='tanh'),
                  Dense(12, activation='sigmoid'),
                  

                  # Couche de sortie avec le nombre de neurones en sortie égale au nombre de classe avec fonction softmax
                  Dense(1, activation="sigmoid")
])

In [ ]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 28, 5)             5005

 gru_20 (GRU)                (None, 32)                3744

 dense_57 (Dense)            (None, 24)                792

 dense_58 (Dense)            (None, 12)                300

 dense_59 (Dense)            (None, 1)                 13

=================================================================
Total params: 9,854
Trainable params: 9,854
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Entrainement du modèle 
history = model.fit(train_data, 
                    epochs=40, 
                    validation_data=test_data)

Epoch 1/40
166/166 [==============================] - 6s 19ms/step - loss: 0.6824 - accuracy: 0.5748 - val_loss: 0.6865 - val_accuracy: 0.5582
Epoch 2/40
166/166 [==============================] - 3s 17ms/step - loss: 0.6822 - accuracy: 0.5748 - val_loss: 0.6873 - val_accuracy: 0.5582
Epoch 3/40
166/166 [==============================] - 3s 17ms/step - loss: 0.6822 - accuracy: 0.5748 - val_loss: 0.6865 - val_accuracy: 0.5582
Epoch 4/40
166/166 [==============================] - 3s 17ms/step - loss: 0.6821 - accuracy: 0.5748 - val_loss: 0.6867 - val_accuracy: 0.5582
Epoch 5/40
166/166 [==============================] - 3s 17ms/step - loss: 0.5437 - accuracy: 0.7375 - val_loss: 0.5052 - val_accuracy: 0.7514
Epoch 6/40
166/166 [==============================] - 3s 17ms/step - loss: 0.4428 - accuracy: 0.8113 - val_loss: 0.4979 - val_accuracy: 0.7593
Epoch 7/40
166/166 [==============================] - 3s 17ms/step - loss: 0.4125 - accuracy: 0.8373 - val_loss: 0.5259 - val_accuracy: 0.7532
Epoch 8/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3903 - accuracy: 0.8458 - val_loss: 0.5248 - val_accuracy: 0.7624
Epoch 9/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3788 - accuracy: 0.8488 - val_loss: 0.5327 - val_accuracy: 0.7444
Epoch 10/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3680 - accuracy: 0.8574 - val_loss: 0.5585 - val_accuracy: 0.7242
Epoch 11/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3633 - accuracy: 0.8618 - val_loss: 0.6622 - val_accuracy: 0.7185
Epoch 12/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3551 - accuracy: 0.8706 - val_loss: 0.6512 - val_accuracy: 0.7242
Epoch 13/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3493 - accuracy: 0.8750 - val_loss: 0.6262 - val_accuracy: 0.7303
Epoch 14/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3406 - accuracy: 0.8808 - val_loss: 0.6213 - val_accuracy: 0.7167
Epoch 15/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3357 - accuracy: 0.8851 - val_loss: 0.7610 - val_accuracy: 0.7049
Epoch 16/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3326 - accuracy: 0.8883 - val_loss: 0.7318 - val_accuracy: 0.7163
Epoch 17/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3297 - accuracy: 0.8889 - val_loss: 0.7046 - val_accuracy: 0.7211
Epoch 18/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3289 - accuracy: 0.8898 - val_loss: 0.7159 - val_accuracy: 0.7185
Epoch 19/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3258 - accuracy: 0.8891 - val_loss: 0.7272 - val_accuracy: 0.7167
Epoch 20/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3169 - accuracy: 0.8959 - val_loss: 0.7235 - val_accuracy: 0.7101
Epoch 21/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3185 - accuracy: 0.8968 - val_loss: 0.7782 - val_accuracy: 0.7053
Epoch 22/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3178 - accuracy: 0.8976 - val_loss: 0.7706 - val_accuracy: 0.7084
Epoch 23/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3132 - accuracy: 0.8991 - val_loss: 0.7618 - val_accuracy: 0.7079
Epoch 24/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3149 - accuracy: 0.8983 - val_loss: 0.7382 - val_accuracy: 0.7132
Epoch 25/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3111 - accuracy: 0.9019 - val_loss: 0.7919 - val_accuracy: 0.7075
Epoch 26/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3111 - accuracy: 0.8992 - val_loss: 0.7706 - val_accuracy: 0.7053
Epoch 27/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3076 - accuracy: 0.9030 - val_loss: 0.7693 - val_accuracy: 0.7031
Epoch 28/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3043 - accuracy: 0.9043 - val_loss: 0.7857 - val_accuracy: 0.7053
Epoch 29/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3033 - accuracy: 0.9043 - val_loss: 0.7619 - val_accuracy: 0.7097
Epoch 30/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3029 - accuracy: 0.9051 - val_loss: 0.7772 - val_accuracy: 0.7040
Epoch 31/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3044 - accuracy: 0.9028 - val_loss: 0.8056 - val_accuracy: 0.7066
Epoch 32/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3016 - accuracy: 0.9043 - val_loss: 0.7865 - val_accuracy: 0.7040
Epoch 33/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3026 - accuracy: 0.9045 - val_loss: 0.7470 - val_accuracy: 0.7097
Epoch 34/40
166/166 [==============================] - 3s 16ms/step - loss: 0.2996 - accuracy: 0.9081 - val_loss: 0.7569 - val_accuracy: 0.7084
Epoch 35/40
166/166 [==============================] - 3s 16ms/step - loss: 0.2970 - accuracy: 0.9089 - val_loss: 0.7512 - val_accuracy: 0.7137
Epoch 36/40
166/166 [==============================] - 3s 16ms/step - loss: 0.2995 - accuracy: 0.9068 - val_loss: 0.7937 - val_accuracy: 0.7079
Epoch 37/40
166/166 [==============================] - 3s 16ms/step - loss: 0.3015 - accuracy: 0.9051 - val_loss: 0.7523 - val_accuracy: 0.7123
Epoch 38/40
166/166 [==============================] - 3s 17ms/step - loss: 0.3025 - accuracy: 0.9045 - val_loss: 0.7664 - val_accuracy: 0.7079
Epoch 39/40
166/166 [==============================] - 3s 16ms/step - loss: 0.2942 - accuracy: 0.9094 - val_loss: 0.7769 - val_accuracy: 0.7106
Epoch 40/40
166/166 [==============================] - 3s 16ms/step - loss: 0.2956 - accuracy: 0.9081 - val_loss: 0.7760 - val_accuracy: 0.7044