<img src="" alt="DSW LOGO" />

# Challenge : predict conversions 🏆🏆

This is the template that shows the different steps of the challenge. In this notebook, all the training/predictions steps are implemented for a very basic model (logistic regression with only one variable). Please use this template and feel free to change the preprocessing/training steps to get the model with the best f1-score ! May the force be with you 🧨🧨  

**For a detailed description of this project, please refer to *02-Conversion_rate_challenge.ipynb*.**

# Import libraries

In [1]:
!pip install plotly
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.metrics import r2_score, mean_squared_error

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import  OneHotEncoder, StandardScaler

from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score, GridSearchCV


from sklearn.impute import KNNImputer
!pip install xgboost
!pip install plotly
!pip install s3fs

from xgboost import XGBRegressor
from sklearn.ensemble import AdaBoostClassifier


import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
# setting Jedha color palette as default
pio.templates["jedha"] = go.layout.Template(
    layout_colorway=["#4B9AC7", "#4BE8E0", "#9DD4F3", "#97FBF6", "#2A7FAF", "#23B1AB", "#0E3449", "#015955"]
)
pio.templates.default = "jedha"
pio.renderers.default = "svg" # to be replaced by "iframe" if working on JULIE
from IPython.display import display

Collecting plotly
  Using cached plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Collecting tenacity>=6.2.0
  Using cached tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.3.1 tenacity-8.0.1
Collecting xgboost
  Using cached xgboost-1.4.2-py3-none-manylinux2010_x86_64.whl (166.7 MB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.8/site-packages (from xgboost) (1.5.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.2
Requirement already satisfied: plotly in /opt/conda/lib/python3.8/site-packages (5.3.1)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.8/site-packages (from plotly) (8.0.1)
Collecting s3fs
  Using cached s3fs-2021.10.0-py3-none-any.whl (26 kB)
Collecting fsspec==2021.10.0
  Using cached fsspec-2021.10.0-py3-none-any.whl (125 kB)
Processing /home/jovyan/.cache/pip/wheels/89/67/d6/725476664f3da37fcebda5b1299af2b50702f98efa92591ae3/aiobotocore-1.4.2-py3-none-any.whl
Collecting wrapt>=1.10.10
  Using cached wrapt-1.13.1-cp38-cp38-manylinux2010_x86_64.whl (84 kB)
Collecting botocore<1.20.107,>=1.20.106
  Using cached botocore-1.20.106-py2.py3-none-any.whl (7.7 MB)
Collecting aioitertools>=0.5.1
  Using cached aioitertools-0.8.0-py3-none-any.whl (21 kB)
Collecting aiohttp>=3.3.1
  Using cached aiohttp-3.7.4.post0-cp38-cp38-manylinux2014_x86_64.whl (1.5 MB)
Collecting jmespath<1.0.0,>=0.7.1
  Using cached jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.8/site-packages (from botocore<1.20.107,>=1.20.106->aiobotocore~=1.4.1->s3fs) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.8/site-packages (from botocore<1.20.107,>=1.20.106->aiobotocore~=1.4.1->s3fs) (1.25.10)
Collecting yarl<2.0,>=1.0
  Using cached yarl-1.7.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (308 kB)
Requirement already satisfied: typing-extensions>=3.6.5 in /opt/conda/lib/python3.8/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (3.7.4.2)
Collecting multidict<7.0,>=4.5
  Using cached multidict-5.2.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (187 kB)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (20.2.0)
Requirement already satisfied: chardet<5.0,>=2.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (3.0.4)
Collecting async-timeout<4.0,>=3.0
  Using cached async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.107,>=1.20.106->aiobotocore~=1.4.1->s3fs) (1.15.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.8/site-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (2.10)
Installing collected packages: fsspec, wrapt, jmespath, botocore, aioitertools, multidict, yarl, async-timeout, aiohttp, aiobotocore, s3fs
  Attempting uninstall: fsspec
    Found existing installation: fsspec 0.8.3
    Uninstalling fsspec-0.8.3:
      Successfully uninstalled fsspec-0.8.3
Successfully installed aiobotocore-1.4.2 aiohttp-3.7.4.post0 aioitertools-0.8.0 async-timeout-3.0.1 botocore-1.20.106 fsspec-2021.10.0 jmespath-0.10.0 multidict-5.2.0 s3fs-2021.10.0 wrapt-1.13.1 yarl-1.7.0

# Read file with labels

In [2]:
data = pd.read_csv('conversion_data_train.csv')
print('Set with labels (our train+test) :', data.shape)

Set with labels (our train+test) : (284580, 6)

In [3]:
data.head()

   country  age  new_user  source  total_pages_visited  converted
0    China   22         1  Direct                    2          0
1       UK   21         1     Ads                    3          0
2  Germany   20         0     Seo                   14          1
3       US   23         1     Seo                    3          0
4       US   28         1  Direct                    3          0

In [4]:
data.describe(include='all')

,country,age,new_user,source,total_pages_visited,converted
count,284580,284580.000000,284580.000000,284580,284580.000000,284580.000000
unique,4,NaN,NaN,3,NaN,NaN
top,US,NaN,NaN,Seo,NaN,NaN
freq,160124,NaN,NaN,139477,NaN,NaN
mean,NaN,30.564203,0.685452,NaN,4.873252,0.032258
std,NaN,8.266789,0.464336,NaN,3.341995,0.176685
min,NaN,17.000000,0.000000,NaN,1.000000,0.000000
25%,NaN,24.000000,0.000000,NaN,2.000000,0.000000
50%,NaN,30.000000,1.000000,NaN,4.000000,0.000000
75%,NaN,36.000000,1.000000,NaN,7.000000,0.000000
max,NaN,123.000000,1.000000,NaN,29.000000,1.000000

# Explore dataset

In [5]:
# The dataset is quite big : you must create a sample of the dataset before making any visualizations !
data_sample = data.sample(10000)

In [6]:
data_sample.describe(include='all')

,country,age,new_user,source,total_pages_visited,converted
count,10000,10000.000000,10000.000000,10000,10000.000000,10000.000000
unique,4,NaN,NaN,3,NaN,NaN
top,US,NaN,NaN,Seo,NaN,NaN
freq,5667,NaN,NaN,4860,NaN,NaN
mean,NaN,30.468300,0.679500,NaN,4.913700,0.033800
std,NaN,8.236017,0.466692,NaN,3.369865,0.180723
min,NaN,17.000000,0.000000,NaN,1.000000,0.000000
25%,NaN,24.000000,0.000000,NaN,2.000000,0.000000
50%,NaN,30.000000,1.000000,NaN,4.000000,0.000000
75%,NaN,36.000000,1.000000,NaN,7.000000,0.000000
max,NaN,62.000000,1.000000,NaN,24.000000,1.000000

In [7]:
data_sample.groupby('country').count()

          age  new_user  source  total_pages_visited  converted
country
China    2405      2405    2405                 2405       2405
Germany   425       425     425                  425        425
UK       1584      1584    1584                 1584       1584
US       5586      5586    5586                 5586       5586

In [8]:
"""#Remplacer pays par continent car peu d'allemands
data_sample['country'] = data_sample['country'].replace('Germany','EU').replace('UK','EU').replace('China','Asia').rename('continent').astype(str)
data_sample = data_sample.rename(columns={'country':'continent'})"""

"#Remplacer pays par continent car peu d'allemands\ndata_sample['country'] = data_sample['country'].replace('Germany','EU').replace('UK','EU').replace('China','Asia').rename('continent').astype(str)\ndata_sample = data_sample.rename(columns={'country':'continent'})"

In [7]:
data_sample.head()

        country  age  new_user  source  total_pages_visited  converted
241578       US   33         1  Direct                    4          0
36475        US   38         1     Ads                    8          0
209279       US   29         1  Direct                    6          0
266643  Germany   57         1     Seo                    4          0
150000    China   26         1     Ads                    8          0

In [10]:
"""for i in data_sample[['age','total_pages_visited']]:
    for a in data_sample.loc[:,i].index:
        
        Moyenne = data_sample[i].mean()
        Ecart_type = data_sample[i].std()
        Ecart_type_min = Moyenne - (Ecart_type*3)
        Ecart_type_max = Moyenne + (Ecart_type*3)
        
        if data_sample.loc[a,i] < Ecart_type_min or data_sample.loc[a,i] > Ecart_type_max:
            data_sample = data_sample.drop(a)
data_sample.head()"""

"for i in data_sample[['age','total_pages_visited']]:\n    for a in data_sample.loc[:,i].index:\n        \n        Moyenne = data_sample[i].mean()\n        Ecart_type = data_sample[i].std()\n        Ecart_type_min = Moyenne - (Ecart_type*3)\n        Ecart_type_max = Moyenne + (Ecart_type*3)\n        \n        if data_sample.loc[a,i] < Ecart_type_min or data_sample.loc[a,i] > Ecart_type_max:\n            data_sample = data_sample.drop(a)\ndata_sample.head()"

In [8]:
data_sample.corr()

                          age  new_user  total_pages_visited  converted
age                  1.000000  0.010769            -0.041305  -0.077827
new_user             0.010769  1.000000            -0.090847  -0.158503
total_pages_visited -0.041305 -0.090847             1.000000   0.535210
converted           -0.077827 -0.158503             0.535210   1.000000

# Make your model

## Choose variables to use in the model, and create train and test sets
**From the EDA, we know that the most useful feature is total_pages_visited. Let's create a baseline model by using at first only this feature : in the next cells, we'll make preprocessings and train a simple (univariate) logistic regression.**

In [9]:
features_list = ['total_pages_visited','source','age','country','new_user']
numeric_indices = [0,2,4]
categorical_indices = [1,3]
target_variable = 'converted'

In [10]:
data_sample.loc[:,'country']

241578         US
36475          US
209279         US
266643    Germany
150000      China
           ...
240720         UK
60953          US
28321          US
62353          US
57120       China
Name: country, Length: 10000, dtype: object

In [11]:
X = data_sample.loc[:, features_list]
Y = data_sample.loc[:, target_variable]

print('Explanatory variables : ', X.columns)
print()

Explanatory variables :  Index(['total_pages_visited', 'source', 'age', 'country', 'new_user'], dtype='object')

In [12]:
# Divide dataset Train set & Test set 
print("Dividing into train and test sets...")
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0, stratify=Y)
print("...Done.")
print()

Dividing into train and test sets...
...Done.

In [13]:
# Convert pandas DataFrames to numpy arrays before using scikit-learn
print("Convert pandas DataFrames to numpy arrays...")
X_train = X_train.values
X_test = X_test.values
Y_train = Y_train.tolist()
Y_test = Y_test.tolist()
print("...Done")

print(X_train[0:5,:])
print(X_test[0:5,:])
print()
print(Y_train[0:5])
print(Y_test[0:5])

Convert pandas DataFrames to numpy arrays...
...Done
[[2 'Seo' 39 'UK' 1]
 [1 'Direct' 39 'UK' 0]
 [1 'Direct' 30 'China' 1]
 [2 'Seo' 30 'US' 1]
 [9 'Seo' 36 'US' 1]]
[[1 'Seo' 27 'US' 1]
 [9 'Seo' 29 'US' 1]
 [3 'Direct' 21 'US' 1]
 [2 'Seo' 35 'UK' 0]
 [14 'Seo' 31 'US' 1]]

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]

## Training pipeline

In [14]:
# Put here all the preprocessings
print("Encoding categorical features and standardizing numerical features...")

numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_indices),    
        ('num', numeric_transformer, numeric_indices)
        ]
    )

X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

print("...Done")
print(X_train[0:5,:])

Encoding categorical features and standardizing numerical features...
...Done
[[ 0.          1.          0.          1.          0.         -0.86469819
   1.04555397  0.6867826 ]
 [ 1.          0.          0.          1.          0.         -1.16057439
   1.04555397 -1.45606484]
 [ 1.          0.          0.          0.          0.         -1.16057439
  -0.04883721  0.6867826 ]
 [ 0.          1.          0.          0.          1.         -0.86469819
  -0.04883721  0.6867826 ]
 [ 0.          1.          0.          0.          1.          1.2064352
   0.68075691  0.6867826 ]]

In [16]:
classifier = LogisticRegression() 
classifier.fit(X_train, Y_train)

LogisticRegression()

In [17]:
#Classifier
Y_train_pred = classifier.predict(X_train)
Y_test_pred = classifier.predict(X_test)

## Performance assessment

In [18]:
# WARNING : Use the same score as the one that will be used by Kaggle !
# Here, the f1-score will be used to assess the performances on the leaderboard

#F1 score
print("f1-score on train set : ", f1_score(Y_train, Y_train_pred))
print("f1-score on test set : ", f1_score(Y_test, Y_test_pred))

#Accuracy score
print('Train accuracy : {}'.format(classifier.score(X_train, Y_train)))
print('Test accuracy : {}'.format(classifier.score(X_test, Y_test)))

f1-score on train set :  0.7711340206185566
f1-score on test set :  0.7642276422764227
Train accuracy : 0.986125
Test accuracy : 0.9855

**Our baseline model reaches a f1-score of almost 70%. Now, feel free to refine your model and try to beat this score ! 🚀🚀**

# Train best classifier on all data and use it to make predictions on X_without_labels
**Before making predictions on the file conversion_data_test.csv, let's train our model on ALL the data that was in conversion_data_train.csv. Sometimes, this allows to make tiny improvements in the score because we're using more examples to train the model.**

In [21]:
# Concatenate our train and test set to train your best classifier on all data with labels
X = np.append(X_train,X_test,axis=0)
Y = np.append(Y_train,Y_test)

classifier.fit(X,Y)

LogisticRegression()

In [22]:
# Read data without labels
data_without_labels = pd.read_csv('conversion_data_test.csv')
print('Prediction set (without labels) :', data_without_labels.shape)

# Warning : check consistency of features_list (must be the same than the features 
# used by your best classifier)
features_list = ['total_pages_visited','source','age','country','new_user']
X_without_labels = data_without_labels.loc[:, features_list]

# Convert pandas DataFrames to numpy arrays before using scikit-learn
print("Convert pandas DataFrames to numpy arrays...")
X_without_labels = X_without_labels.values
print("...Done")

print(X_without_labels[0:5,:])

Prediction set (without labels) : (31620, 5)
Convert pandas DataFrames to numpy arrays...
...Done
[[16 'Seo' 28 'UK' 0]
 [5 'Direct' 22 'UK' 1]
 [1 'Seo' 32 'China' 1]
 [6 'Ads' 32 'US' 1]
 [3 'Seo' 25 'China' 0]]

In [23]:
# WARNING : PUT HERE THE SAME PREPROCESSING AS FOR YOUR TEST SET
# CHECK YOU ARE USING X_without_labels
print("Encoding categorical features and standardizing numerical features...")

X_without_labels = preprocessor.transform(X_without_labels)
print("...Done")
print(X_without_labels[0:5,:])

Encoding categorical features and standardizing numerical features...
...Done
[[ 0.          1.          0.          1.          0.          3.34928419
  -0.3072805  -1.50155872]
 [ 1.          0.          0.          1.          0.          0.0437977
  -1.02954992  0.66597462]
 [ 0.          1.          0.          0.          0.         -1.15819739
   0.17423245  0.66597462]
 [ 0.          0.          0.          0.          1.          0.34429647
   0.17423245  0.66597462]
 [ 0.          1.          0.          0.          0.         -0.55719985
  -0.66841521 -1.50155872]]

In [24]:
# Make predictions and dump to file
# WARNING : MAKE SURE THE FILE IS A CSV WITH ONE COLUMN NAMED 'converted' AND NO INDEX !
# WARNING : FILE NAME MUST HAVE FORMAT 'conversion_data_test_predictions_[name].csv'
# where [name] is the name of your team/model separated by a '-'
# For example : [name] = AURELIE-model1
data = {
    'converted': classifier.predict(X_without_labels)
}

Y_predictions = pd.DataFrame(columns=['converted'],data=data)
Y_predictions.to_csv('conversion_data_test_predictions_EXAMPLE.csv', index=False)

## Analyzing the coefficients and interpreting the result
**In this template, we just trained a model with only one feature (total_pages_visited), so there's no analysis to be done about the feature importance 🤔**

**Once you've included more features in your model, please take some time to analyze the model's parameters and try to find some lever for action to improve the newsletter's conversion rate 😎😎**